{{ define "main" }}
<div id="mapid" style="height: 500px;"></div>
<script>
    var mymap = L.map('mapid').setView([41.40153558289848,2.1591567993164067], 12); // Setzen Sie Ihre Koordinaten und Zoomstufe

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(mymap);

    // Fügen Sie hier weitere Funktionen wie Marker oder Popups hinzu
    var projects = [
        {{ range $index, $element := where $.Site.RegularPages "Section" "projects" }}
        {
            "name": "{{ $element.Params.name  }}",
            "description": "{{ $element.Params.description }}",
            "lat": {{ $element.Params.latitude }},
            "lng": {{ $element.Params.longitude }},
            "url": {{ $element.RelPermalink }},
            "tags": [{{ range $index2, $tag := $element.Params.tags }}"{{ $tag }}"{{ if lt $index2 (sub (len $element.Params.tags) 1) }},{{ end }}{{ end }}]
        }{{ if lt $index (sub (len $.Site.RegularPages) 1) }},{{ end }}
        {{ end }}
    ];

    projects.forEach(function(project) {
        if(project.lat) {
        var marker = L.marker([project.lat, project.lng]).addTo(mymap);
        marker.bindPopup(`<a href=${project.url}><h2>${project.name}</h2></a>${project.tags.map(tag => `<a href="{{ .Site.BaseURL }}tags/${tag.toLowerCase()}/">#${tag}</a>`).join(' ')}<br><br>` + project.description);
    }
    });
    
</script>
{{ end }}